     
     @charset "UTF-8";

     @import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Kaushan+Script&family=Raleway:wght@300&family=Righteous&family=Sedgwick+Ave&display=swap');

      body{
            margin: 0;
            padding: 0;
            height: 100vh;   /* vh - Height da viewport a dimensão total do elemento */
            justify-content: center;
            align-items: center;
            background-color: rgb(170, 185, 180);
      }
      .header{
        margin-top: 0%;
        padding-top: 50px;
        padding-bottom: 10px;
        background-size: 100% 100%;
  }

      .header h1{
        font-family: 'Righteous', cursive;
        text-align: center;
        margin-top: 110px;
        font-size: 100px;
        text-transform: uppercase;
  }

      .header h2{
            text-align: center;
            font-style: italic;
            font-size: 30px;
          
  }

      .menuprincipal  {
        text-align: center;
        position: relative;
  }
      
      .menuprincipal a {
      padding-top: 0px;
      font-family: 'Righteous', cursive;
      font-size: 40px;
      text-decoration: none;
      color: black;
      margin: 50px;
}

      .menucompras {
       text-align:center;
  }

      .menucompras a {
      padding: 50px;
      font-size: 25px;
      font-family: 'Righteous', cursive;
      text-transform: uppercase;  
      color: black;
      text-decoration: none;
  }


      nav a:hover{
        text-decoration: underline;    
  }

      footer p {  
      text-align: center;
      margin: 0%;
      font-style: italic;
  } /*Final da sessão Main*/


 /*Começo da estilização da sessão Sliders*/

 

      
            





 